{% render 'partials/head.liquid', title: 'Squad page' %}

{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}

<form method="post" action="/berichten">
    <label>Tekstje:
        <input type="text" name="huts" required>
    </label>

    <button type="submit">Voeg toe!</button>

</form>

{% render 'partials/foot.liquid', squads: squads %}