{% render 'partials/head.liquid', title: 'Squad page' %}

<section class="filters">
  <h2>Filter</h2>
  <a href="https://connect-your-tribe-squad-page-1nw9.onrender.com/team">Team</a>
  <a href="https://connect-your-tribe-squad-page-1nw9.onrender.com/">Name</a>
</section>

<section class="student-list">
  <ul>
    {% for person in persons %}
      <li>
        <a href="/student/{{ person.team }}"> <img src="{{ person.avatar }}" height="250px" width="250px"></a>
      </li>
    {% endfor %}
  </ul>
</section>


{% render 'partials/foot.liquid', squads: squads %}